@include cssVars((
        --main-color:#4d4e53,
        --main-bg:rgb(255, 255, 255)
));

body {
  color: var(--main-color);
  background: var(--main-bg);
}

.other {
  @include cssVars((
          --other-border-color: rebeccapurple,
          --other-height: 68px,
          --other-padding: 10px 20px,
          --other-line-height: 1.428571429,
          --transition-duration: .35s,
          --external-link: "external link",
          --margin-top: calc(2vh + 20px)
  ));

  border: 1px solid var(--other-border-color);
  height: var(--other-height);
  padding: var(--other-padding);
  line-height: var(--other-line-height);
  transition-duration: var(--transition-duration);
  margin-top: var(--margin-top);
}

.other::after {
  content: var(--external-link);
}